---
import { getCollection } from 'astro:content'

import Default from '@/layouts/Default.astro'
import { SITE } from '@/config'

export async function getStaticPaths() {
  const pageEntries = await getCollection('service')
  return pageEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { data, slug: url } = entry
const { name, description, image, theme } = data

const { Content } = await entry.render()
---

<Default
  title={`${name} - ${SITE.name}`}
  description={description}
  url={url}
  image={image}
  class={theme == 'white' ? 'bg-qux text-white' : ''}
>
  <article id={entry.data.slug}>
    <div class="container py-12">
      <div class="lg:grid lg:grid-cols-10 lg:gap-10">
        <div class="lg:col-start-4 lg:col-span-7">
          <h1 class="sr-only">{name}</h1>
          <p class="h3">{description}</p>
        </div>
      </div>
    </div>
    <Content />
  </article>
</Default>
