---
import { Icon } from 'astro-icon'

interface Props {
  name?: string
  author?: string
  description?: string
  url: {
    name: string
    url: string
    external: boolean
  }
  class?: string
}

const {
  name,
  author,
  description,
  url,
  class: className,
  ...attrs
} = Astro.props as Props
---

<article class:list={[className, 'promo']} {...attrs}>
  <h4 class="h5 font-bold">
    {name}
    {author && <span class="font-regular">by {author}</span>}
  </h4>

  <p class="h5 mb-4">{description}</p>

  {
    url && (
      <a
        href={url.url}
        class="text-[30px] flex items-center"
        rel={url.external ? 'noopener noreferer' : null}
        target={url.external ? '_blank' : ''}
      >
        <span class="mr-3 underline">{url.name}</span>
        <Icon name="arrow-45" class="text-base" />
      </a>
    )
  }
</article>