---
import { getCollection } from 'astro:content';

import Default from '@/layouts/Default.astro';
import { SITE } from '@/config';
import Logo from '@/components/Logo.astro';

export async function getStaticPaths() {
  const pageEntries = await getCollection('page');
  return pageEntries.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { data, slug: url } = entry;
const { name, description, image, theme } = data;

const { Content } = await entry.render();
---

{
  entry && (
    <Default
      title={`${name} - ${SITE.name}`}
      description={description}
      url={url}
      image={image}
      class={theme == 'white' ? 'bg-qux text-white' : ''}
    >
      <article>
        <h1 class="sr-only">{name}</h1>
        <Content />
      </article>
    </Default>
  )
}
