---
import { getCollection } from 'astro:content'

import '@/styles/global.css'

import { SITE } from '@/config'
import BaseHead from '@/components/BaseHead.astro'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import Subscribe from '@/components/Subscribe.astro'
import Menu from '@/components/Menu.astro'
import Contact from '@/components/Contact.astro'
// import ModalMenu from '@/components/Modal/Menu/index.svelte'
// import ModalMenuMenu from '@/components/Modal/Menu/Menu.astro'

export async function getStaticPaths() {
  const pageEntries = await getCollection('pages')
  return pageEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()

const contact = {
  name: 'Let’s talk',
  description: 'Tell us where you want to be. We’ll make sure you get there.',
  url: `mailto:${SITE.email}`
}
---

<html lang={SITE.lang}>
  <pre>{JSON.stringify(entry.data.image)}</pre>
  <BaseHead {...entry.data} title={`${entry.data.name} - ${SITE.name}`} />
  <body class:list={[entry.data.theme == 'white' && 'bg-qux text-white']}>
    <div class="flex flex-col w-full min-h-screen">
      <Header />
      <main class="flex-auto">
        <article id={entry.data.slug}>
          <div class="container">
            <div class="lg:grid lg:grid-cols-8 lg:grid-gap-10">
              <div class="lg:col-start-3 lg:col-span-6">
                <h1 class="h0">
                  {entry.data.name}
                </h1>
              </div>
            </div>
          </div>
          <Content />
        </article>
      </main>
    </div>

    {entry.data.type !== 'landing' && <Contact {...contact} />}

    <Subscribe />
    <Menu />
    <Footer />

    <!-- <ModalMenu client:load>
      <ModalMenuMenu />
    </ModalMenu> -->
  </body>
</html>
