---
import { getCollection } from 'astro:content'

import Default from '@/layouts/Default.astro'
import { SITE } from '@/config'

export async function getStaticPaths() {
  const pageEntries = await getCollection('pages')
  return pageEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Default
  {...entry.data}
  title={`${entry.data.name} - ${SITE.name}`}
  class={entry.data.theme == 'white' && 'bg-qux text-white'}
>
  <article id={entry.data.slug}>
    <div class="container">
      <div class="lg:grid lg:grid-cols-8 lg:grid-gap-10">
        <div class="lg:col-start-3 lg:col-span-6">
          {
            entry.data.type === 'landing' ? (
              <h1 class="h1">{entry.data.name}</h1>
            ) : (
              <h1 class="h0">{entry.data.name}</h1>
            )
          }
        </div>
      </div>
    </div>
    <Content />
  </article>
</Default>
