---
import Contact from '@components/Contact.astro'
import Default from '@layouts/Default.astro'
import { frontmatter, Content } from '../data/pages/business-engines.mdx'

const podcasts = await Astro.glob('../data/podcasts/*.mdx')
// podcasts.filter((element) => {
//   if (element.frontmatter.episode === 4) {
//     return element
//   }
// })

const { name, seo } = frontmatter
---

<Default title={seo.title}>
  <article>
    <div>
      <div class="container">
        <div class="lg:grid lg:gap-10 lg:grid-cols-8">
          <div class="lg:col-start-3 lg:col-span-6">
            <h1 class="title mb-10">{name}</h1>
            <div class="prose prose-black prose-lg md:prose-xl">
              <Content />
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="py-10">
      <div class="container">
        <div class="lg:grid lg:grid-cols-8">
          <div class="lg:grid lg:col-span-6 border-t border-black/40">
            <h2 class="xsr-only">Related:</h2>
            {
              podcasts.map((podcast) => (
                <article class="border-b border-black/40 py-5">
                  <h3 class="h3 mb-4">
                    <a href={podcast.frontmatter.url} class="underline">
                      Episode #{podcast.frontmatter.episode}:{' '}
                      {podcast.frontmatter.name}
                    </a>
                  </h3>
                  <div class="prose prose-black prose-lg md:prose-xl">
                    <p>{podcast.frontmatter.description}</p>
                  </div>
                </article>
              ))
            }
          </div>
        </div>
      </div>
    </section>
  </article>
  <Contact class="bg-qux text-white" />
</Default>
