---
import Default from '@layouts/Default.astro'

import { frontmatter, Content } from '../data/pages/futurestate-manifesto.mdx'

interface Frontmatter {
  id: string
  name: string
  description?: string
}

const { name, description, seo } = frontmatter
const meta = { title: name, description: seo.description }

const manifesto = await Astro.glob<Frontmatter>('../data/manifesto/**.mdx')
manifesto.sort((a, b) => a.frontmatter.id - b.frontmatter.id)
---

<Default {...meta}>
  <section>
    <div class="container">
      <div class="section mb-20">
        <div class="col-start-2">
          <h1 class="title mb-10">{name}</h1>
          <p class="h1 lg:pr-2.5" set:html={description} />
        </div>
      </div>

      <div class="prose">
        <Content />
      </div>

      <div class="grid gap-10 md:grid-cols-2 mb-20">
        {
          manifesto.map((item) => (
            <article class="bg-qux text-white p-10">
              <div class="border-b-2 border-b-white/30 pb-12 mb-12">
                <h2 class="flex gap-2 items-end">
                  <span class="h3 text-yellow">{item.frontmatter.id}</span>
                  <span class="text-2xl text-white/50 after:content-['Futurestate_manifesto']" />
                </h2>
              </div>

              <p class="h4">
                <em class="text-yellow not-italic">{item.frontmatter.name}</em>
                {item.frontmatter.description}
              </p>
            </article>
          ))
        }
      </div>
    </div>
  </section>
</Default>
