---
import Default from '@layouts/Default.astro'

const name = 'Our Manifesto'
const description =
  'This is what makes us tick: our manifesto is a set of principles that underpin everything about us.'

const manifesto = await Astro.glob('../data/manifesto/**.mdx')
manifesto.sort((a, b) => a.frontmatter.id - b.frontmatter.id)
---

<Default title={name} description={description}>
  <section>
    <div class="container">
      <div class="lg:grid lg:grid-cols-default gap-10">
        <div></div>
        <div class="cols-start-3">
          <h1 class="h0 mb-10">{name}</h1>
          <p class="h1 mb-20 lg:pr-2.5">
            This is what makes us tick: our manifesto is a set of principles
            that underpin everything <a href="/about-us" class="underline"
              >about us</a
            >.
          </p>
        </div>
      </div>

      <div class="grid gap-10 md:grid-cols-2 mb-20">
        {
          manifesto.map((item) => (
            <article class="bg-qux text-white p-10">
              <div class="border-b-2 border-b-white/30 pb-12 mb-12">
                <h2 class="flex gap-2 items-end">
                  <span class="h3 text-yellow">{item.frontmatter.id}</span>
                  <span class="text-2xl text-white/50 after:content-['Futurestate_manifesto']" />
                </h2>
              </div>

              <p class="h4">
                <em class="text-yellow not-italic">{item.frontmatter.name}</em>
                {item.frontmatter.description}
              </p>
            </article>
          ))
        }
      </div>
    </div>
  </section>
</Default>
