---
import { getEntryBySlug } from 'astro:content';

import Default from '@/layouts/Default.astro';
import { SITE } from '@/config';

const entry = await getEntryBySlug('service', 'start-up');

const { data, slug: url } = entry;
const { name, description, image } = data;

const { Content } = await entry.render();
---

<Default
  title={`${name} - ${SITE.name}`}
  description={description}
  url={url}
  image={image}
  class="bg-yellow text-black"
>
  <article>
    <h1 class="sr-only">{name}</h1>
    <Content />
  </article>
</Default>
