---
import { SITE } from '@config'

const { address } = SITE
const social = [
	{
		icon: 'i-custom:linkedin',
		name: 'Linkedin',
		url: SITE.linkedin,
	},
	{
		icon: 'i-custom:instagram',
		name: 'Instagram',
		url: SITE.instagram,
	},
	{
		icon: 'i-custom:medium',
		name: 'Medium',
		url: SITE.medium,
	},
	{
		icon: 'i-mdi:twitter',
		name: 'Twitter',
		url: SITE.twitter,
	},
]
---

<div role="contentinfo">
	<div class="foo">
		<div class="py-15 lg:pl-foo">
			<h2 class="h0 mb-8">Let's talk</h2>
			<a class="h3 link inline-block mb-4" href={SITE.email}>{SITE.email}</a>
			<a class="h3 link inline-block" href="tel:+442038658704">{SITE.telephone}</a>
			<nav class="mt-10">
				<ul class="inline-flex flex-col gap-6">
					{
						social.map(social => (
							<li>
								<a
									href={social.url}
									class="body link inline-flex gap-4 items-center"
									target="_blank"
									rel="noopener noreferrer">
									<div class={`${social.icon} text-2rem`} />
									{social.name}
									<span class="i-custom:arrow text-2rem border" />
								</a>
							</li>
						))
					}
				</ul>
			</nav>
		</div>

		<div class="h-[2px] bg-black"></div>

		<div class="foo lg:pl-350px py-5 lg:py-10">
			<div class="grid gap-4 md:gap-10 md:grid-cols-2">
				<div>
					<p class="body">
						{address.streetAddress}
						<br />
						{address.addressLocality}
						<br />
						{address.addressRegion}
						<br />
						{address.postalCode}
					</p>
				</div>
				<div>
					<p class="body mb-4">
						<a
							class="hover:underline"
							href="https://www.iubenda.com/privacy-policy/60598168"
							target="_blank">Privacy Policy</a
						>
					</p>
					<p class="body">&copy; {SITE.copyrightYear} All rights reserved</p>
				</div>
			</div>
		</div>
	</div>
</div>
