---
import { SITE } from '@config'

const social = [
  {
    icon: 'i-custom:linkedin',
    name: 'Linkedin',
    url: SITE.linkedin,
  },
]
---

<div role="contentinfo">
  <div class="foo">
    <div class="py-5">
      <nav>
        <ul class="flex flex-wrap gap-4">
          {
            social.map((social) => (
              <li>
                <a
                  href={social.url}
                  class="text-20px"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <span class={`${social.icon}`} />
                  <span class="sr-only">{social.name}</span>
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>

  <div class="border-t border-black">
    <div class="foo">
      <div class="py-5 text-21px">
        <div class="grid gap-4 md:gap-10 md:grid-cols-[1fr_3fr]">
          <a class="text-21px font-bold" href={`mailto:${SITE.email}`}>
            {SITE.email}
          </a>
          <div class="grid gap-4 md:(gap-10 grid-cols-3)">
            <a href="tel:+442038658704">
              {SITE.telephone}
            </a>
            <a
              href="https://www.iubenda.com/privacy-policy/60598168"
              target="_blank"
              rel="noopener noreferrer"
            >
              Privacy Policy
            </a>
            <p>
              &copy; {SITE.copyrightYear}
              <span class="sr-only" id={SITE.id}>{SITE.name}</span> All rights reserved
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
