---
import { Icon } from 'astro-icon'
import { SITE } from '@/config'

const social = [
  {
    name: 'Linkedin',
    url: SITE.linkedin,
    icon: {
      name: 'linkedin',
    },
  },
  {
    name: 'Substack',
    url: SITE.substack,
    icon: { name: 'substack' },
  },
]
---

<div role="contentinfo" class="bg-qux text-white">
  <div class="container">
    <div class="py-5">
      <nav>
        <ul class="flex flex-col sm:flex-row sm:items-start -ml-2">
          {
            social.map(({ icon, name, url }) => (
              <li>
                <a
                  href={url}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-[32px] p-2 block md:text-[24px]"
                  title={name}
                >
                  <span class="sr-only">{name}</span>
                  <Icon {...icon} />
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>

  <div class="border-t border-white/20 py-6 text-xl">
    <div class="container">
      <div
        class="flex flex-col gap-4 lg:flex-row lg:items-center lg:justify-between"
      >
        <a
          href={`mailto:${SITE.email}`}
          class="text-[21px] font-medium hover:underline"
        >
          {SITE.email}
        </a>

        <div class="flex flex-col gap-4 lg:flex-row lg:items-center lg:gap-10">
          <a href={SITE.tel} class="text-[21px] hover:underline">
            {SITE.telephone}
          </a>
          <a
            href="https://www.iubenda.com/privacy-policy/60598168"
            target="_blank"
            rel="noopener noreferrer"
            class="text-[21px] hover:underline"
          >
            Privacy Policy
          </a>
          <p class="text-[21px]">
            &copy; {SITE.copyrightYear}
            <span class="sr-only" id={SITE.id}>{SITE.name}</span> All rights reserved
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
