---
import { SITE } from '@config'

import IconLinkedIn from '@components/Icon/LinkedIn.astro'

const social = [
  {
    icon: 'i-custom:linkedin',
    name: 'Linkedin',
    url: SITE.linkedin,
  },
]
---

<div role="contentinfo" class="bg-white text-black">
  <div class="container">
    <div class="py-5">
      <nav>
        <ul class="flex flex-wrap gap-4">
          {
            social.map((social) => (
              <li>
                <a
                  href={social.url}
                  class="text-xl"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <IconLinkedIn />
                  <span class="sr-only">{social.name}</span>
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>

  <div class="border-t border-current py-6 text-xl">
    <div class="container">
      <div
        class="flex gap-4 flex-col lg:flex-row lg:items-center lg:justify-between"
      >
        <a href={`mailto:${SITE.email}`} class="font-medium hover:underline">
          {SITE.email}
        </a>
        <div class="lg:flex lg:items-center lg:gap-10">
          <a href={SITE.tel} class="hover:underline">
            {SITE.telephone}
          </a>
          <a
            href="https://www.iubenda.com/privacy-policy/60598168"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:underline"
          >
            Privacy Policy
          </a>
          <p>
            &copy; {SITE.copyrightYear}
            <span class="sr-only" id={SITE.id}>{SITE.name}</span> All rights reserved
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
