---
import { SITE } from '@/config';
import Logo from '@/components/Logo.astro';
import { Icon } from 'astro-icon';
import Action from '@/components/Action.astro';
// import Overlay from '@/components/Overlay.svelte'

export interface Props {
  class?: string;
}

const { class: className, ...attrs } = Astro.props as Props;
---

<div role="banner" class:list={['py-8 relatie', className]} {...attrs}>
  <div class="container">
    <div
      class="flex justify-between md:grid-cols-8 md:gap-x-10 md:gap-y-20 lg:grid"
    >
      <div class="lg:col-span-2">
        <a href="/" title={`Return to the ${SITE.name} homepage`}>
          <Logo class="max-w-[180px] lg:absolute lg:top-[152px]" />
        </a>
      </div>

      <div
        class="flex items-start justify-end md:col-span-6 md:justify-between"
      >
        <div class="hidden items-start gap-16 lg:flex">
          <a
            href={`mailto:${SITE.email}`}
            class="text-2xl font-bold hover:underline">{SITE.email}</a
          >
          <a href={`tel:${SITE.tel}`} class="text-2xl hover:underline"
            >{SITE.telephone}</a
          >
        </div>
        <div class="flex items-start">
          <button
            id="theme-toggle"
            type="button"
            class="rounded-lg p-2.5 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
          >
            <Icon
              name="dark"
              id="theme-toggle-dark-icon"
              class="hidden w-5 h-5"
            />
            <Icon
              id="theme-toggle-light-icon"
              class="hidden w-5 h-5"
              name="light"
            />
          </button>

          <Action
            tag="button"
            type="button"
            icon="menu"
            class="open-dialog-menu"
          >
            <span class="sr-only">Open menu</span>
          </Action>
        </div>
      </div>
    </div>
  </div>
</div>
