---
import { slugify } from 'src/utils'
import { Prose } from '@/components/index.astro'
import { Icon } from 'astro-icon'

interface Props {
  name?: string
  class?: string
  tag?: string
  padding?: string
}

const {
  name,
  class: className,
  tag: Tag = 'section',
  padding = 'py-6 lg:py-12',
  ...attrs
} = Astro.props as Props

const id = name ? slugify(name) : null
const heading = id ? `${id}-heading` : null
---

<Tag id={id} aria-labelledby={heading} class:list={[padding, className]} {...attrs}>
  <div class="container">
    <div class="grid gap-6 lg:gap-10 lg:grid-cols-8">
      {
        name && (
          <Prose class="lg:col-span-2">
            <h2 id={heading}>
              {name}
              <Icon name="arrow" class="hidden lg:block" />
            </h2>
          </Prose>
        )
      }
      <div class:list={['lg:col-span-6', !name && 'lg:col-start-3']}>
        <slot />
      </div>
    </div>
  </div>
</Tag>