---
import { Icon } from 'astro-icon'
import { slugify } from 'src/utils'
import { Prose } from '@/components/index.astro'

interface Props {
  name: string
  class?: string
  tag?: string
  padding?: string
  inline?: boolean
}

const {
  name,
  class: className = 'bg-white  text-black dark:bg-qux dark:text-white',
  tag: Tag = 'section',
  padding = 'py-6 lg:py-20',
  inline = false,
  ...props
} = Astro.props as Props

const id = name && slugify(name)
const heading = `${id}-heading`
---

<Tag
  id={id}
  aria-labelledby={heading}
  class:list={['relative', padding, className]}
  {...props}
>
  <div class="container">
    <div class="grid gap-6 lg:gap-10 lg:grid-cols-10">
      {
        inline == false && (
          <h2 id={heading} class="h4 lg:col-span-3">
            {name}
            <Icon name="arrow" class="hidden lg:block text-[48px]" />
          </h2>
        )
      }
      <div class:list={['lg:col-span-7 lg:col-start-4']}>
        <Prose>
          {inline && <h2 id={heading}>{name}</h2>}
          <slot />
        </Prose>
      </div>
    </div>
  </div>
</Tag>
