---
import type { CollectionEntry } from 'astro:content';

interface Props {
  testimonial: CollectionEntry<'testimonial'>;
  class?: string;
}

const { testimonial, class: className } = Astro.props as Props;
const { data } = testimonial;
const { author, reviewBody } = data;
---

<figure
  class:list={[
    'bg-white p-10 text-black flex flex-col items-center gap-6',
    className,
  ]}
>
  {
    author.image && (
      <img
        src={author.image.url}
        alt={author.image.alt}
        class="object-cover object-center"
      />
    )
  }

  <blockquote>
    <p class="text-center text-4xl">{reviewBody}</p>
  </blockquote>

  <figcaption class="text-2xl text-black/50">
    {author.name}, {author.worksFor}
  </figcaption>
</figure>
