---
import { getEntryBySlug } from 'astro:content';
import { Icon } from 'astro-icon';

import { SITE } from '@/config';
import NavTertiary from '@/components/Nav/Tertiary.astro';
import NavPrimary from '@/components/Nav/Primary.astro';
import Logo from '../Logo.astro';
import Action from '@/components/Action.astro';

const navPrimary = await getEntryBySlug('menu', 'primary');
const navTertiary = await getEntryBySlug('menu', 'tertiary');

const social = [
  {
    name: 'Linkedin',
    url: SITE.linkedin,
    icon: {
      name: 'linkedin',
    },
  },
  {
    name: 'Substack',
    url: SITE.substack,
    icon: { name: 'substack' },
  },
];

const id = 'modal_contact';
const label = `${id}_label`;
const desc = `${id}_desc`;
---

<dialog id="dialog-menu" aria-labelledby={label} aria-describedby={desc}>
  <div class="container">
    <div class="flex flex-col">
      <Action
        onclick="this.closest('dialog').close('close')"
        type="button"
        title="Close dialog"
        icon="close"
      >
        Close
      </Action>

      <div class="flex flex-col">
        <div class="grid pb-10 md:grid-cols-2 md:gap-10">
          <div class="flex flex-col md:justify-between">
            <a href="/">
              <Logo />
            </a>
            <h2 class="h1 md:col-start-1" id="modal_label">Menu</h2>
          </div>

          <div class="flex flex-col space-y-6 md:justify-between">
            <p class="text-lg text-white/50">
              {SITE.address.streetAddress}
              <br />
              {SITE.address.addressLocality}
              <br />
              {SITE.address.addressRegion}
              <br />
              {SITE.address.postalCode}
            </p>
            <div class="h4">
              <a href={SITE.tel} class="lead text-yellow">{SITE.telephone}</a>
              <br />
              <a href={`mailto:${SITE.email}`} class="text-yellow"
                >{SITE.email}</a
              >
            </div>
            <nav>
              <ul class="-ml-2 flex flex-col sm:flex-row sm:items-start">
                {
                  social.map(({ icon, name, url }) => (
                    <li>
                      <Action
                        href={url}
                        target="_blank"
                        rel="noopener noreferrer"
                        title={name}
                        icon={icon.name}
                      >
                        <span class="sr-only">{name}</span>
                      </Action>
                    </li>
                  ))
                }
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <div class="grid border-t border-white/40 pt-4 md:grid-cols-2 md:gap-10">
        {navTertiary && <NavTertiary nav={navTertiary} />}
        {navPrimary && <NavPrimary nav={navPrimary} />}
      </div>
    </div>
  </div>
</dialog>
