---
import type { CollectionEntry } from 'astro:content';

import { Icon } from 'astro-icon';

interface Props {
  nav: CollectionEntry<'menu'>;
  class?: string;
}

const { nav, class: className, ...props } = Astro.props as Props;
const { slug: id, data } = nav;
const { name, items } = data;

const heading = `${id}-heading`;
---

<nav
  class="bg-qux pt-8 text-white lg:pt-24"
  id={id}
  class:list={[className]}
  aria-labelledby={heading}
  {...props}
>
  <div class="container">
    <div class="lg:grid lg:grid-cols-10 lg:gap-10">
      <div class="lg:col-span-7 lg:col-start-4">
        <h2 id={heading} class="h3 mb-12 lg:mb-24">{name}</h2>
        <ul>
          {
            items.map(item => (
              <li class="border-b-2 border-white/20 last-of-type:border-b-0">
                <a
                  href={item.url}
                  class="h4 flex items-center justify-between py-6"
                >
                  <span set:html={item.name} />
                  <Icon name="arrow/45/48" />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</nav>
