---
import type { CollectionEntry } from 'astro:content'

import { Icon } from 'astro-icon'

interface Props {
  nav: CollectionEntry<'menu'>
  class?: string
}

const { nav, class: className, ...props } = Astro.props as Props
const { slug: id, data } = nav
const { name, items } = data

const heading = `${id}-heading`
---

<nav
  class="pt-8 pb-12 lg:py-24 bg-qux text-white"
  id={id}
  class:list={[className]}
  aria-labelledby={heading}
  {...props}
>
  <div class="container">
    <div class="grid gap-4 md:grid-cols-10 md:gap-10">
      <div class="md:col-start-4 md:col-span-7">
        <h2 id={heading} class="h3 mb-12 lg:mb-24">{name}</h2>
        <ul>
          {
            items.map((item) => (
              <li class="border-b-2 border-white/30">
                <a
                  href={item.url}
                  class="h3 leading-none flex items-center py-5 justify-between"
                >
                  <span class="underline" set:html={item.name} />
                  <Icon name="arrow-45" class="text-[64px]" />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</nav>
