---
import { Icon } from 'astro-icon'
import { Prose } from '../index.astro'

interface Props {
  id: string
  name: string
}

const { id, name } = Astro.props as Props
const triggerEl = `${id}-heading`
const targetEl = `${id}-body`
---

<h3 id={triggerEl} class="text-3xl md:text-5xl">
  <button
    type="button"
    class="flex items-center justify-between w-full py-4 text-left"
    data-accordion-target={`#${targetEl}`}
    aria-expanded="false"
    aria-controls={targetEl}
  >
    {name}
    <Icon name="arrow" data-accordion-icon />
  </button>
</h3>

<div id={targetEl} class="hidden border-b border-gray" aria-labelledby={triggerEl}>
  <Prose>
    <slot />
  </Prose>
</div>
